@import "../../../Staging/defaults";
@import "../../../Staging/style.scss";

@font-face{
    font-family: 'SF Pro';
    src: url("SFProText.ttf");
}

body{
    font-family: 'SF Pro', Helvetica;
    background: #09131f;
    -webkit-font-smoothing: antialiased;
}

button{
    font-family: "SF Pro", Helvetica;
}

.search,.cart{
    height: 88px;
    width: 18px;
}

nav{
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    @include flexCenter(row, space-between);
    height: 44px;
    margin: 0 169px;
}

nav ul li{
    color: #f5f5f7;
    opacity: .8;
    padding: 0 10px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
    &:hover{
        opacity: 1;
    }
    &:first-child{
    font-size: 1.3rem;
}
}

.covid-txt{
    margin-top: 44px;
    font-size: .85rem;
    padding: 14px 0;
    width: 100%;
    background-color: #0071e3;
    color: #fff;
    text-align: center;

    span{
        font-size: .7rem;
    }
}

.shop-txt{
    font-size: .85rem;
    width: 100%;
    padding: 14px 0;
    background-color: #fff;
    text-align: center;
    color: #1d1d1f;

    span{
        color: #0071e3;
    }
}

.landing{
    img{
        margin-top: 135px;
        transform: scale(1.3);
    }
    .hispeed{
        position: absolute;
        left: 50%;
        top: 118%;
        transform: translate(-50%, -50%);
        font-size: 4.7rem;
        background: linear-gradient(to bottom, #f36b0c, #ffd65f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hiSub{
        position: absolute;
        left: 50%;
        top: 130%;
        width: 500px;
        font-weight: lighter;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        text-align: center;
        color: #f9d773;
    }
    .btn{
        position: absolute;
        left: 50%;
        top: 143%;
        transform: translate(-50%, -50%);
        border: 1px solid #f9d773;
        background: inherit;
        color: #f9d773;
        transition: 0.25s linear background-color, .25s linear color;
        font-size: 17px;
        line-height: 1.17648;
        font-weight: 400;
        letter-spacing: -.022em;
        min-width: 28px;
        padding: 18px 31px;
        border-radius: 28px;

        &:hover{
            background-color: #f9d773;
            color: #000;
            cursor: pointer;
        }
    }
}

.pro12{
    position: absolute;
    background: #000;
    padding-top: 110px;
    margin-top: -100px;
    height: 140vh;
    width: 100%;

    img{
        position: absolute;
        z-index: 1;
    }
    .head{
        position: absolute;
        z-index: 2;
        color: #fff;
        left: 50%;
        top: 60%;
        font-size: 4.4rem;
        transform: translate(-50%, -50%);
    }
    .sub{
        position: relative;
        z-index: 3;
        top: 500px;
        font-size: 21px;
        text-align: center;
        max-width: 760px;
        word-spacing: -2px;
        margin: auto;
        color: #f5f5f7;
        line-height: 1.4;
        font-weight: lighter;
        letter-spacing: .011em;
    }
    .dates{
        position: relative;
        font-weight: 500;
        color: #6e6e73;
        top: 500px;
        left: 50%;
        transform: translate(-20%, 50%);
    }
    .learn, .pricing{
        position: absolute;
        top: 790px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        transition: 0.25s linear background-color, .25s linear color;
        font-size: 17px;
        line-height: 1.17648;
        font-weight: 400;
        letter-spacing: -.022em;
        min-width: 28px;
        padding: 18px 31px;
        border-radius: 28px;

            &:hover{
                background: #fff;
                color: black;
                cursor: pointer;
            }
    }
    .learn{
        left: 43%
    }
    .pricing{
        left: 57%;
    }
}

.class12{
    position: relative;
    height: 150vh;
    width: 100vw;
    top: 790px;
    background: #f2f2f2;
    padding-top: 70px;
    img{
        position: relative;
        left: 29%;
        top: auto;
    }
    .head{
        text-align: center;
        font-size: 4.4rem;
    }
    .subContain{
        width: 50%;
        margin: auto;
        padding-top: 25px;
        text-align: center;
        font-weight: 400;
    }
    .sub{
        color: #1d1d1f;
        line-height: 1.4;
    }
    .dates{
        color: #6e6e73;
        padding-top: 17px;
    }
    .learn, .pricing{
        position: absolute;
        top: 870px;
        left: 30px;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        background: transparent;
        color: black;
        transition: 0.25s linear background-color, .25s linear color;
        font-size: 17px;
        line-height: 1.17648;
        font-weight: 400;
        letter-spacing: -.022em;
        min-width: 28px;
        padding: 18px 31px;
        border-radius: 28px;

            &:hover{
                background: black;
                color: #fff;
                cursor: pointer;
            }
    }
    .learn{
        left: 43%
    }
    .pricing{
        left: 57%;
    }
}

.magsafe{
    position: relative;
    height: 155vh;
    width: 100vw;
    top: 790px;
    background: #fff;
    z-index: 1;

    img{
        width: 100%;
        padding: 25px;
        padding-top: 75px;
        padding-left: 10px;
    }
    .head{
        font-size: 4.4rem;
        text-align: center;
    }
    .sub{
        max-width: 500px;
        padding-top: 12px;
        font-weight: 400;
        text-align: center;
        margin: auto;
        color: #1f1f1d;
        line-height: 1.4;
    }
    .dates{
        text-align: center;
        color: #6e6e73;
        font-weight: 400;
        padding-top: 10px;
    }
    .view{
        position: absolute;
        top: 870px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        background: transparent;
        color: black;
        transition: 0.25s linear background-color, .25s linear color;
        font-size: 17px;
        line-height: 1.17648;
        font-weight: 400;
        letter-spacing: -.022em;
        min-width: 28px;
        padding: 18px 31px;
        border-radius: 28px;

            &:hover{
                background: black;
                color: #fff;
                cursor: pointer;
            }
    }
}

.homepod{
    position: relative;
    height: 150vh;
    width: 100vw;
    top: 790px;
    background: #f3f3f3;

    img{
        width: 100%;
        transform: translate(36%, -30%);
        z-index: -1;
    }
    .subContain{
        transform: translateY(-300px);
    }
    .head{
        position: relative;
        font-size: 4.4rem;
        transform: translateY(-300px);
        text-align: center;
    }
    .sub{
        max-width: 630px;
        padding-top: 12px;
        font-weight: 400;
        text-align: center;
        margin: auto;
        color: #1f1f1d;
        line-height: 1.4;
        letter-spacing: -.022em;
        font-size: 1.3rem;
    }
    .dates{
        text-align: center;
        color: #6e6e73;
        font-weight: 400;
        letter-spacing: -.022em;
        padding-top: 10px;
    }
    .learn{
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        background: transparent;
        color: black;
        transition: 0.25s linear background-color, .25s linear color;
        font-size: 17px;
        line-height: 1.17648;
        font-weight: 400;
        letter-spacing: -.022em;
        min-width: 28px;
        padding: 18px 31px;
        border-radius: 28px;

            &:hover{
                background: black;
                color: #fff;
                cursor: pointer;
            }
    }
}

footer{
    margin-top: 20px;
    height: 235vh;
    width: 100vw;
    background: #f5f5f7;

    .cell-info{
        position: relative;
        top: 850px;
        width: 73%;
        margin: auto;
        font-size: 12px;
        color: #86868b;
        border-bottom: 1px #d2d2d7 solid;
        padding-bottom: 20px;

        span{
            color: #515154;
        }
    }
    .cellhr{
        position: relative;
        border: 6px #fff solid;
        top: 830px;
    }
    .mega-footer{
        position: relative;
        top: 870px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    ul{
        margin: 0 23px 18px;
    }
    ul li{
        font-size: .75rem;
        padding: 6px;
        margin-right: 20px;
        color: #515154;
        &:first-child{
            color: #1d1d1f;
            font-weight: 600;
        }
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .locate{
        width: 73%;
    }
    .locate, .copyright{
        color: #86868b;
        position: relative;
        top: 880px;
        margin: auto;
        font-size: .75rem;
        span{
            color: #0066cc;
        }
    }
    .lastDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 73%;
        margin: auto;
    }
    .lastHr{
        position: relative;
        top: 885px;
        width: 73%;
        margin: auto;
        border-top: 1px #d2d2d7 solid;
        padding: 4px;
    }
    .copyright{
        padding: 10px 0;
    }
    .usa, .policy{
        position: relative;
        top: 880px;
        padding: 4px;
        color: #515154;
        font-size: .75em;
    }
    .policy{
        width: auto;
        margin-right: 252px;
        transform: translateX(50px);
    }
}

